.input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border-radius: 13px;
  border-color: black;
  background: white;
  font-size: 16px; 
}

.input::placeholder {
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  color: rgb(112, 112, 112); 
  font-style: italic;
}