.input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border-radius: 13px;
  border-color: black;
  background: white;
  font-size: 16px; 
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.input::placeholder {
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  color: rgb(112, 112, 112); 
  font-style: italic;
}

.input:focus {
  outline: none;
  transform: translate(2px, -2px);
  box-shadow: 0 4px 8px rgb(124, 255, 146);
}
