# Python
__pycache__/
*.py[cod]
*$py.class

# Python cache files
*.pyc
*.pyo
*.pyd
*.cpython-310.pyc

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
