.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  height: 35%;
}

.error_message {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input_group {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: black;
}

.input_text {
  padding: 12px 30px 12px 50px !important;
}

.password_toggle {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: black;
  background-color: transparent;
  border: none;
}

.submit_container {
  width: 50%;
  margin-top: 20%;
}

.submit_container button {
  width: 100%;
  border-color: white;
  padding: 12px;
  border-radius: 9999px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.submit_container button:hover {
  background-color: #90FF17 ;
  color: black;
  border-color: black;
}